@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&display=swap');

*{
    font-family:sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}



mat-icon{
    color: gray;
    font-family: material-icon;
    vertical-align: middle;
}
img{
    height: 150px;
    width: 100px;
}
.user{
    text-align: center ;
    font-weight: 50px;
    
}